<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Elect Manager | Connexion{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('login') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.lastUsername = "{{ last_username }}"
                {% if error %}
                window.error = "{{ error.messageKey|trans(error.messageData, 'security') }}"
                {% endif %}
            </script>
            {{ encore_entry_script_tags('login') }}
        {% endblock %}
    </head>
    <body>
        <div id="login"></div>
    </body>
</html>
